
@{
    ViewData["Title"] = "Index";
}
<body class="bg">
    <div class="text-center">
        <h1 style="color: black ; font-weight: 600" class="display-1">Domingo Roof Works</h1>
        <h1 class="display-2">Management Portal</h1>

        <h1>
            <br>
            <br>
        </h1>

       
    </div>
</body>

